---
layout: base
---

<script type="module">
  import { CloudySky } from "cloudysky";
</script>

<cloudy-sky class="park-sky">
  <div class="wrapper constrain--more">
    <header class="park-header flow">
      <h1 class="park-title">{{ title }}</h1>
      <div class="park-meta">
        <span class="park-date">{{ date | dateString }}</span> | <span class="park-location"><a href="/{{ state | downcase }}/">{{ state }}</a></span> | <span class="park-weather">{{ weather }}</span>
      </div>
      <hr class="divider"/>
    </header>
    <main class="main">
      {{ content }}
    </main>
  </div>
</cloudy-sky>
