---
layout: base
---

{%- assign climate = weather.weather[0] -%}

<script type="module">
  import { CloudySky } from "cloudysky";
</script>

<cloudy-sky class="park-sky">
  <div class="wrapper constrain--more">
    <header class="park-header flow">
      <h1 class="park-title">{{ title }}</h1>
      <div class="park-meta">
        <div class="park-date">{% include 'calendar.svg' %}<time datetime="{{ date | yyyymmdd }}">{{ date | dateString }}</time></div>
        <div class="park-location">{% include 'map.svg' %}<a href="/{{ state | downcase }}/">{{ state }}</a></div>
        <div class="park-weather">
          <img src="https://openweathermap.org/img/wn/{{ climate.icon }}@2x.png" alt="Icon representing {{ climate.description }}"/>
          <span>{{ climate.main }}, {{ weather.feels_like }}<sup>&deg;</sup></span>
        </div>
      </div>
      <hr class="divider"/>
    </header>
    <main class="main flow">
      {{ content }}
    </main>
  </div>
</cloudy-sky>
